.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
}

.screen-header__title {
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
}

.screen-header__icons span {
  margin-left: 20px;
}

.screen-header__cog {
  position: relative;
  height: 100%;
}

.screen-header__cog-dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: tomato;
  position: absolute;
  right: -2px;
  top: -15px;
}
