.user-component {
  display: flex;
}

.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.usuer-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 20px;
}

.user-component__title {
  font-weight: 600;
  font-size: 22px;
}

.user-component__subtitle {
  font-size: 17px;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 500;
}

.usuer-component__avatar--xl {
  width: 80px;
  height: 80px;
  border-radius: 32px;
  margin-right: 20px;
}

.usuer-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-right: 20px;
}

.user-component__title--sm {
  font-size: 15px;
}

.friends-screen__row__side-for-chat {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.friend-screen__row__time-message {
  color: rgba(0, 0, 0, 0.4);
  font-weight: 500;
}

.friend-screen-row__red-notification {
  margin-top: 5px;

  background-color: tomato;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #f9f9fa;
  font-weight: 500;
}
